
* {
    margin: 0;
    padding: 0;
    outline: none;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background: #353535;
  }
  nav{
      margin: 10px ;
  }
  nav ul {
    text-align: center;
}
  .nav-item{
      display: inline-block;
      margin-right: 20px;
      
  }
  .nav-item a{
      color: #29c886;
      text-decoration: none;
      font-weight: 800;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .hero-wrapper{
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    
  }
  .hero-wrapper h1{
      position: absolute;
      top:30%;
      left: 50%;
      z-index: 2;
      font-size: 30px;
      text-transform: uppercase;
      color:#3e64cf;

  }
  .hero-wrapper h2 a{
      z-index: 1;
      position: absolute;
      color:#29c886;
      text-decoration: none;
      margin-top: 5%;
      font-size: larger;
      text-transform: uppercase;

  }
  .hero-img{
      position: absolute;
      top:-15%;
      object-fit: cover;
    width: 100%;
  }
  .page-title {
    margin: 50px auto 20px auto;
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
}
  
.container {
    width: 280px;
    height: 500px;
    margin: 30px 30px;
    display: inline-block;
}
  
  .card {
    border-radius: 25px;
    box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
  }
  
  .card-head {
    position: relative;
    height: 252px;
    background: #fa782e;
    /* Old browsers */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fa782e', endColorstr='#c82930', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    border-radius: 25px 25px 0 0;
  }
  
  .blue{background: linear-gradient(135deg, #3e64cf 8%, #29c886 83%);}
  .red{background: linear-gradient(135deg, #d60303 8%, #29c886 83%);}
  .green{background: linear-gradient(135deg, #021402 8%, #29c886 83%);}
  .card-logo {
    width: 55px;
    margin: 20px;
  }
  
  .product-img {
    
    margin-top:  10px;
    margin-left: 50px;
  }
  
  .product-detail {
    padding: 0 20px;
    font-size: 11px;
    color: #fff;
  }
  
  .product-detail h2 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-bottom: 10px;
    text-transform: uppercase;
  }
  
  .back-text {
    display: inline-block;
    font-size: 125px;
    font-weight: 900;
    margin-left: -7px;
    margin-top: -12px;
    opacity: 0.1;
  }
  
  .card-body {
    height: 255px;
    background: #fff;
    border-radius: 0 0 25px 25px;
  }
  
  .product-title {
    padding: 20px 20px 5px 20px;
    display: block;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .product-title b {
    font-weight: 900;
    letter-spacing: 0px;
  }
  
  .badge {
    position: relative;
    font-size: 10px;
    font-weight: 300;
    color: #fff;
    background: #11e95b;
    padding: 2px 5px;
    border-radius: 4px;
    top: -2px;
    margin-left: 5px;
  }
  
  .product-caption {
    display: block;
    padding: 0 20px;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
  }
  
  .product-rating {
    padding: 0 20px;
    font-size: 11px;
    color: #000000;
  }
  
  .product-rating i.grey {
    color: #18ac67;
  }
  
  .product-size h4 {
    font-size: 11px;
    padding: 0 21px;
    margin-top: 15px;
    padding-bottom: 10px;
    text-transform: uppercase;
  }
  
  .ul-size {
    margin-left: 15px;
  }
  
  .ul-size li {
    list-style: none;
    float: left;
    margin-right: 20px;
  }
  
  .ul-size li a {
    display: inline-block;
    text-decoration: none;
    font-size: 11px;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    text-align: center;
    line-height: 23px;
    color: #000;
  }
  
  .ul-size li a.active  {
    background: #f35e3d;
    color: #fff;
  }
  
  .product-size:before,
  .product-size:after {
    content: '';
    display: block;
    clear: both;
  }
  
  .product-color h4 {
    font-size: 11px;
    padding: 0 21px;
    margin-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
  }
  
  .ul-color {
    margin-left: 27px;
  }
  
  .ul-color li {
    list-style: none;
    float: left;
    margin-right: 20px;
  }
  
  .ul-color li a {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
  }
  
  .ul-color li a.orange {
    background: #0aad0a;
  }
  
  .ul-color li a.green {
    background: #000000;
  }
  
  .ul-color li a.yellow {
    background: #ffd414;
  }
  
  .ul-color li a.active:after {
    position: absolute;
    content: '';
    display: inline-block;
    border: 1px solid #f35e3d;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    margin-left: -5px;
    margin-top: -5px;
  }
  
  .product-price {
    position: absolute;
    background: #11e95b;
    padding: 7px 20px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    font-weight: 200;
    color: #fff;
    border-radius: 7px;
    margin-top: -13px;
    margin-left: -5px;
    box-shadow: -10px 20px 15px -10px rgba(17, 233, 91, 0.3);
  }
  
  .product-price b {
    margin-left: 5px;
  }
  
  
  
  .yt
  {
    position: fixed;
    padding:7px 10px 3px 10px;
    top: 5px;
    right: 5px;
    background: rgba(0,0,0,0.1);
  }
  
  .yt:hover
  {
    background: rgba(0,0,0,0.2);
  }
  
  #green  {

    background: #29e229;
  }

  #red  {
    background: #f80707;
  }

  #blue {
    background: #073cad;
  }1